In [2]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [3]:
%%time
data = pd.read_csv('./data/parking_citations.csv')

<string>:2: DtypeWarning: Columns (1,8) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 8.03 s, sys: 832 ms, total: 8.86 s
Wall time: 10.9 s

In [5]:
%%time
data.to_sql('parking_citations', con=engine)

CPU times: user 1min 6s, sys: 2.54 s, total: 1min 8s
Wall time: 1min 8s

In [8]:
%%time
engine.execute("SELECT * FROM parking_citations LIMIT 5").fetchall()

CPU times: user 868 µs, sys: 43 µs, total: 911 µs
Wall time: 2.65 ms

[(0, 4, '1105461453', '2015-09-15T00:00:00', 115.0, None, None, 'CA', 200316.0, None, 'CHEV', 'PA', 'BK', 'GEORGIA ST/OLYMPIC', '1FB70', 1.0, '8069A', 'NO STOPPING/STANDING', 93.0, 99999.0, 99999.0),
 (1, 6, '1106500452', '2015-12-17T00:00:00', 1710.0, None, None, 'CA', 201605.0, None, 'MAZD', 'PA', 'BL', 'SUNSET/ALVARADO', '00217', 1.0, '8070', 'PARK IN GRID LOCK ZN', 163.0, 99999.0, 99999.0),
 (2, 10, '1106506424', '2015-12-22T00:00:00', 1100.0, None, None, 'CA', 201511.0, None, 'FORD', 'TR', 'WH', '1159 HUNTLEY DR', '2A75', 1.0, '8069AA', 'NO STOP/STAND AM', 93.0, 99999.0, 99999.0),
 (3, 11, '1106506435', '2015-12-22T00:00:00', 1105.0, None, None, 'CA', 201701.0, None, 'CHRY', 'PA', 'GO', '1159 HUNTLEY DR', '2A75', 1.0, '8069AA', 'NO STOP/STAND AM', 93.0, 99999.0, 99999.0),
 (4, 14, '1107179581', '2015-12-27T00:00:00', 1055.0, None, None, 'CA', 201605.0, None, 'TOYO', 'PA', 'BK', '3100 N HOLLYRIDGE DR', None, 54.0, '8058L', 'PREF PARKING', 68.0, 99999.0, 99999.0)]

In [13]:
%%time
data[data['VIN'].isnull()!=True]

CPU times: user 75.3 ms, sys: 0 ns, total: 75.3 ms
Wall time: 74.5 ms

,Unnamed: 0,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
617548,1235880,4241125976,2014-10-31T00:00:00,815.0,NaN,NaN,CA,201412.0,9817,TOYT,PA,GN,6430 RESEDA BLVD,00374,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6399558.0,1890949.9
617549,1235881,4241125980,2014-10-31T00:00:00,819.0,NaN,NaN,CA,201508.0,0739,KIA,PA,SL,18325 HART ST,00374,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6400761.6,1894682.0
617550,1235883,4241126002,2014-10-31T00:00:00,820.0,NaN,NaN,CA,201510.0,NOT VISIBLE,UNK,PA,GY,18325 HART ST,00374,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6400761.6,1894682.0
617551,1235886,4242410012,2014-10-31T00:00:00,825.0,NaN,NaN,CA,201410.0,6106,FORD,PA,WT,7650 RESEDA BLVD,00374,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6399596.0,1898992.6
617552,1235889,4242410045,2014-10-31T00:00:00,830.0,NaN,NaN,CA,201410.0,7627,NISS,PA,SL,18505 STRATHERN ST,00374,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6399571.3,1901296.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625762,1252323,4247320092,2014-11-03T00:00:00,920.0,CB2727,NaN,CA,201502.0,8288,STRN,PA,GY,641 SAN PEDRO ST S,00667,56.0,88.13B+,METER EXP.,63.0,6487199.0,1837603.5
625763,1252324,4247320103,2014-11-03T00:00:00,922.0,NaN,NaN,CA,201501.0,NV,TOYT,PA,GY,545 SAN PEDRO ST S,00667,56.0,80.69A+,STOP/STAND PROHIBIT,93.0,6487601.0,1838238.0
625764,1252325,4247320114,2014-11-03T00:00:00,936.0,LT20,NaN,CA,201503.0,5115,HOND,PA,WT,328 3RD ST E,00667,56.0,88.13B+,METER EXP.,63.0,6486434.5,1841096.1
625765,1252327,4247320136,2014-11-03T00:00:00,940.0,CC1224,NaN,CA,201509.0,3746,SUBA,PA,BK,322 LOS ANGELES ST S,00667,56.0,88.13B+,METER EXP.,63.0,6487440.9,1840003.1
625766,1252337,4247320243,2014-11-03T00:00:00,1322.0,NaN,NaN,CA,3.0,NV,OTHR,VN,BN,127 SAN PEDRO ST S,00667,56.0,22514,FIRE HYDRANT,68.0,6488631.4,1840709.2

In [10]:
%%time
engine.execute("SELECT make, COUNT(make) AS value_occurrence FROM parking_citations GROUP BY make ORDER BY value_occurrence DESC LIMIT 25;").fetchall()

CPU times: user 1.83 s, sys: 24.1 ms, total: 1.86 s
Wall time: 1.86 s

[('TOYT', 721411),
 ('HOND', 491961),
 ('FORD', 382695),
 ('NISS', 311324),
 ('CHEV', 297076),
 ('BMW', 199221),
 ('MERZ', 177307),
 ('VOLK', 149501),
 ('HYUN', 133864),
 ('DODG', 127764),
 ('LEXS', 124508),
 ('KIA', 101746),
 ('JEEP', 100909),
 ('AUDI', 84229),
 ('MAZD', 79853),
 ('OTHR', 72411),
 ('GMC', 62391),
 ('CHRY', 57317),
 ('INFI', 56809),
 ('ACUR', 52703),
 ('SUBA', 46898),
 ('VOLV', 42330),
 ('TOYO', 40064),
 ('MITS', 37842),
 ('CADI', 34080)]

In [11]:
%%time
data["Make"].value_counts().nlargest(25)

CPU times: user 244 ms, sys: 0 ns, total: 244 ms
Wall time: 402 ms

TOYT    721411
HOND    491961
FORD    382695
NISS    311324
CHEV    297076
BMW     199221
MERZ    177307
VOLK    149501
HYUN    133864
DODG    127764
LEXS    124508
KIA     101746
JEEP    100909
AUDI     84229
MAZD     79853
OTHR     72411
GMC      62391
CHRY     57317
INFI     56809
ACUR     52703
SUBA     46898
VOLV     42330
TOYO     40064
MITS     37842
CADI     34080
Name: Make, dtype: int64

In [20]:
%%time
engine.execute('SELECT make, color, COUNT(color) AS value_occurrence FROM parking_citations GROUP BY make ORDER BY value_occurrence DESC LIMIT 25').fetchall()

CPU times: user 1.99 s, sys: 48 ms, total: 2.04 s
Wall time: 2.04 s

[('TOYT', 'BL', 721410),
 ('HOND', 'BK', 491795),
 ('FORD', 'GY', 382481),
 ('NISS', 'GY', 311219),
 ('CHEV', 'BK', 296925),
 ('BMW', 'BK', 199173),
 ('MERZ', 'BK', 177286),
 ('VOLK', 'WT', 149461),
 ('HYUN', 'SL', 133832),
 ('DODG', 'BK', 127689),
 ('LEXS', 'BK', 124500),
 ('KIA', 'SL', 101719),
 ('JEEP', 'BK', 100884),
 ('AUDI', 'WT', 84218),
 ('MAZD', 'BK', 79841),
 ('OTHR', 'PR', 72410),
 ('GMC', 'BK', 62368),
 ('CHRY', 'GY', 57300),
 ('INFI', 'BK', 56792),
 ('ACUR', 'SL', 52694),
 ('SUBA', 'WT', 46880),
 ('VOLV', 'WT', 42322),
 ('TOYO', 'WH', 39832),
 ('MITS', 'SL', 37829),
 ('CADI', 'WT', 34064)]

In [19]:
%%time
data.groupby(['Make'])['Color'].value_counts().nlargest(25)

CPU times: user 2.38 s, sys: 0 ns, total: 2.38 s
Wall time: 2.38 s

Make  Color
TOYT  GY       163238
      WT       143256
      BK       119038
      SL       117184
HOND  GY       116566
FORD  WT       112313
HOND  BK       103419
CHEV  WT        78792
HOND  SL        76744
NISS  GY        72622
FORD  BK        68769
BMW   BK        67814
HOND  WT        66131
NISS  BK        61965
MERZ  BK        60233
TOYT  BL        59960
CHEV  BK        57778
FORD  GY        56372
NISS  WT        55587
      SL        47100
CHEV  GY        46020
HOND  BL        44206
MERZ  WT        42197
BMW   WT        42173
VOLK  BK        41601
Name: Color, dtype: int64

In [48]:
%%time
engine.execute('PRAGMA table_info(parking_citations)').fetchall()

CPU times: user 1.22 ms, sys: 44 µs, total: 1.27 ms
Wall time: 846 µs

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'Unnamed: 0', 'BIGINT', 0, None, 0),
 (2, 'Ticket number', 'TEXT', 0, None, 0),
 (3, 'Issue Date', 'TEXT', 0, None, 0),
 (4, 'Issue time', 'FLOAT', 0, None, 0),
 (5, 'Meter Id', 'TEXT', 0, None, 0),
 (6, 'Marked Time', 'FLOAT', 0, None, 0),
 (7, 'RP State Plate', 'TEXT', 0, None, 0),
 (8, 'Plate Expiry Date', 'FLOAT', 0, None, 0),
 (9, 'VIN', 'TEXT', 0, None, 0),
 (10, 'Make', 'TEXT', 0, None, 0),
 (11, 'Body Style', 'TEXT', 0, None, 0),
 (12, 'Color', 'TEXT', 0, None, 0),
 (13, 'Location', 'TEXT', 0, None, 0),
 (14, 'Route', 'TEXT', 0, None, 0),
 (15, 'Agency', 'FLOAT', 0, None, 0),
 (16, 'Violation code', 'TEXT', 0, None, 0),
 (17, 'Violation Description', 'TEXT', 0, None, 0),
 (18, 'Fine amount', 'FLOAT', 0, None, 0),
 (19, 'Latitude', 'FLOAT', 0, None, 0),
 (20, 'Longitude', 'FLOAT', 0, None, 0)]

In [54]:
%%time
engine.execute('SELECT "Ticket number", "Issue Date", Make FROM parking_citations GROUP BY Make ORDER BY "Issue Date" DESC limit 25').fetchall()

CPU times: user 2.12 s, sys: 136 ms, total: 2.26 s
Wall time: 2.26 s

[('4347460283', '2019-01-10T00:00:00', 'ACUR'),
 ('4347168265', '2019-01-10T00:00:00', 'ALFA'),
 ('4347600316', '2019-01-10T00:00:00', 'AUDI'),
 ('4347602431', '2019-01-10T00:00:00', 'BMW'),
 ('4347180401', '2019-01-10T00:00:00', 'BUIC'),
 ('4346983885', '2019-01-10T00:00:00', 'CADI'),
 ('4346057785', '2019-01-10T00:00:00', 'CHEC'),
 ('4347600224', '2019-01-10T00:00:00', 'CHEV'),
 ('4347460471', '2019-01-10T00:00:00', 'CHRY'),
 ('4347566101', '2019-01-10T00:00:00', 'DODG'),
 ('4347408122', '2019-01-10T00:00:00', 'FIAT'),
 ('4347602361', '2019-01-10T00:00:00', 'FORD'),
 ('4346796160', '2019-01-10T00:00:00', 'FRHT'),
 ('4347600036', '2019-01-10T00:00:00', 'GMC'),
 ('4346675174', '2019-01-10T00:00:00', 'GRUM'),
 ('4345879731', '2019-01-10T00:00:00', 'HD'),
 ('4347088410', '2019-01-10T00:00:00', 'HNO'),
 ('4347600390', '2019-01-10T00:00:00', 'HOND'),
 ('4346536740', '2019-01-10T00:00:00', 'HUMM'),
 ('4347602405', '2019-01-10T00:00:00', 'HYUN'),
 ('4347540433', '2019-01-10T00:00:00', 'INFI'),
 ('4346890085', '2019-01-10T00:00:00', 'INTL'),
 ('4347100741', '2019-01-10T00:00:00', 'ISU'),
 ('4346812912', '2019-01-10T00:00:00', 'JAGU'),
 ('4347540260', '2019-01-10T00:00:00', 'JEEP')]

In [43]:
%%time
data.sort_values(['Issue Date', 'Make'], ascending=False).groupby(['Make'])['Issue Date', 'Ticket number', 'Make'].head()

CPU times: user 1.25 s, sys: 72.1 ms, total: 1.32 s
Wall time: 1.32 s

                  Issue Date Ticket number  Make
4357344  2019-01-10T00:00:00    4347290021  YAMA
4354715  2019-01-10T00:00:00    4345943744  WINN
4354716  2019-01-10T00:00:00    4345943755  WINN
4354718  2019-01-10T00:00:00    4345943792  WINN
4354719  2019-01-10T00:00:00    4345943840  WINN
4354908  2019-01-10T00:00:00    4346077304  WINN
4353863  2019-01-10T00:00:00    4344679710  VOLV
4353897  2019-01-10T00:00:00    4344929665  VOLV
4353908  2019-01-10T00:00:00    4344958531  VOLV
4353961  2019-01-10T00:00:00    4345015566  VOLV
4353997  2019-01-10T00:00:00    4345194070  VOLV
4353755  2019-01-10T00:00:00    4342891383  VOLK
4353762  2019-01-10T00:00:00    4342891556  VOLK
4353857  2019-01-10T00:00:00    4344679640  VOLK
4353889  2019-01-10T00:00:00    4344899930  VOLK
4353910  2019-01-10T00:00:00    4344958553  VOLK
4353794  2019-01-10T00:00:00    4343844945   UNK
4353827  2019-01-10T00:00:00    4344471375   UNK
4354021  2019-01-10T00:00:00    4345211754   UNK
4354025  2019-01-10T00:00:00    4345211813   UNK
4354183  2019-01-10T00:00:00    4345528806   UNK
4353941  2019-01-10T00:00:00    4344983985  TSMR
4353942  2019-01-10T00:00:00    4344983996  TSMR
4354227  2019-01-10T00:00:00    4345589220  TSMR
4354289  2019-01-10T00:00:00    4345639723  TSMR
4354423  2019-01-10T00:00:00    4345787294  TSMR
4355302  2019-01-10T00:00:00    4346295391  TRIU
4353749  2019-01-10T00:00:00    4329711632  TOYT
4353752  2019-01-10T00:00:00    4341465542  TOYT
4353759  2019-01-10T00:00:00    4342891523  TOYT
...                      ...           ...   ...
718982   2015-01-18T00:00:00    1112515832  TRJY
718981   2015-01-18T00:00:00    1112515806  STRK
718985   2015-01-18T00:00:00    1112515876  PTBT
723428   2015-01-17T00:00:00   1107504646D  IDBI
718599   2015-01-17T00:00:00    1107504742  HPMN
740963   2015-01-16T00:00:00    1105303802  FRLR
699798   2015-01-16T00:00:00    1106348972  AMCA
705655   2015-01-14T00:00:00    1111872381  SPRI
681298   2015-01-13T00:00:00    1107704426   KEN
681487   2015-01-13T00:00:00    1111333694  DAMO
72649    2015-01-12T00:00:00    1110476754  UHAU
687547   2015-01-12T00:00:00    1108870420  GROS
718975   2015-01-09T00:00:00    1112512380  SJIN
663852   2015-01-09T00:00:00    1110578641  RODE
672588   2015-01-08T00:00:00    1107828525   LAN
676969   2015-01-07T00:00:00    1108870394  FLET
672738   2015-01-06T00:00:00    1111802565  SMIT
681251   2014-12-30T00:00:00   1107502104D  STCK
636177   2014-12-30T00:00:00    1109869596  MUNI
630437   2014-12-27T00:00:00    1110841233   FRL
727991   2014-12-27T00:00:00    1109854815  EGIL
658900   2014-12-23T00:00:00    1110093493  EGIL
625864   2014-12-17T00:00:00    1110093412  MELA
658718   2014-12-16T00:00:00   1107507682D  THET
636145   2014-12-13T00:00:00    1108995985  BLUB
621751   2014-10-12T00:00:00    1105450544  TAZH
1441902  2014-09-21T00:00:00    1107426180  JAGY
834301   2014-02-18T00:00:00    1106554864  BUTL
2139644  2012-12-17T00:00:00    1115353606   MEZ
718963   2012-01-03T00:00:00    1112498026    GT

[3487 rows x 3 columns]

In [60]:
#Is an out of state plate more likely to be expired at time of ticketing than an in state plate
IN_STATE = data[data['RP State Plate']=='IL']
OUT_STATE = data[data['RP State Plate']!='IL']

In [62]:
#is the count of expired plates greater for IN_STATE or OUT_STATE
EXP_IN = pd.to_datetime(IN_STATE['Plate Expiry Date'])
EXP_OUT = pd.to_datetime(OUT_STATE['Plate Expiry Date'])
TICKET_IN = pd.to_datetime(IN_STATE['Issue Date'])
TICKET_OUT = pd.to_datetime(OUT_STATE['Issue Date'])

In [68]:
count_in = EXP_IN < TICKET_IN
count_out = EXP_OUT < TICKET_OUT
in_ = 0;
out = 0;
for x in count_in:
    if x == True:
        in_ += 1;
for x in count_out:
    if x == True:
        out += 1;
print("In State Expired Plates at Ticket Time:", in_)
print("Out of State Expired Plates at Ticket Time:", out)

In State Expired Plates at Ticket Time: 11202
Out of State Expired Plates at Ticket Time: 3949795